/*
Sommaire :
1 reset
2 variables (couleurs)
3 container
4 style entete
5 style projets
6 style cv
7 style contact
8 style pied
*/

/*
1 reset
*/

body, h1  , h2, h3, p, figure{
    margin: 0;
} 
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: sans-serif; /* hérité pour ses enfants */
}

/*
2 variables (couleurs) 5 couleurs dans la palette
*/
:root{
     /* https://imageresizer.com/color-picker  */
     --vert : #4ABE73;
     --bleu-marine : #3D4955;
     --bleu-clair : #F9F9F9;
     --bleu : #707982;
     --gris-clair : #EAEAEA;
}

/*
3 container
*/

.container{
    width: 100%;
    max-width :900px;
    margin: 0 auto;
}

/*

4 style entete

*/

.menu{
    background: url("img/entete.jpg") ;
    background-size: cover;
    background-position: 0 50%;
    padding: 60px 0 100px 0;
}

.menu_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_logo{
    display: flex;
    align-items: center;
}

.menu_logo svg{
    color:var(--vert);
    width: 40px;
    height: 40px;
}

.menu h1{
    color:white;
    margin-left: 10px;
}


.menu_navbar{
    display: flex;
}

.menu_navbar_item{
    margin-left: 10px;
}

.menu_navbar_item a {
    color:white;
    font-size: 14px;
    padding-left:10px;
}
/* barre / entre chaque élément du menu */
.menu_navbar_item a::before{
    content:"";
    transform:skewX(-20deg);
    display: inline-block;
    width:1px;
    height:12px;
    background: white;
    margin-right: 20px;
}

.menu_navbar_item:first-child a::before{
    display: none;
}

.menu_infos{
    text-align: center;
}

.menu_title {
    margin: 40px 0 20px 0;
    color:white;
    text-transform: uppercase;
}

.menu_title_description{
    margin: 20px 0 20px 0;
    color:white;
    font-size: 14px;
    text-transform: uppercase;
}

.menu_more{
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--vert);
    border:2px solid var(--vert);
    font-size: 13px;
}

/*
5 style projets
*/

.projets{
    background: var(--bleu-clair);
    padding: 40px 0;
}

.projets_menu{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.projets_menu_item{
    padding: 8px 12px;
    background: var(--gris-clair);
    margin-right: 10px;
    border-radius: 5px;
}

.projets_menu_item.active{
    background: var(--vert);
}

.projets_menu_item a{
    color:white;
}


.projets_galerie{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.img1{
    margin-right: 20px;
    width: calc(40% - 20px);
    height: 70%;
}

.img2{
    width: 60%;
    margin-bottom: 20px;
}

.img3{
    margin-right: 20px;
    width: calc(40% - 20px);
    margin-top: -130px;
}

.img4{
    width: 60%;
}

.projets_img{
    border-radius: 5px;
    object-fit: cover;
}


/*
6 style cv
*/

.cv{
    padding: 30px 0;
    background: url("img/entete.jpg") ;
    background-size: cover;
    background-position: 0 50%;
    color:white;
}

.cv-right{
    display: flex;
    justify-content: flex-end;
}

.cv_details{
    width:50%;
}

.cv_titre , .cv_soustitre, .cv_p{
    margin-bottom: 30px;
}

.cv_link{
    border: 2px solid var(--bleu-marine);
    color: var(--bleu-marine);
    padding: 8px 12px;
    border-radius: 5px;
}


/*
7 style contact
*/

.contact{
    background: var(--bleu-clair);
    padding: 40px 0;
}

.contact_titre{
    text-align: center;
    color:var(--vert);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.contact_formulaire{
    margin: 0 auto;
    width: 80%;
}

.contact_group{
    display: flex;
}

.contact_control{
    width: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    border:2px solid var(--bleu-marine);
    background: var(--bleu-marine);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.contact_control:last-child{
    margin-right: 0;
}

.contact_control_message{
    width: 100%;
    display: inline-block;
    display: flex;
    align-items: flex-start;
    border:2px solid var(--bleu-marine);
    background: var(--bleu-marine);
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact_control svg , .contact_control_message svg{
    background: var(--bleu-marine);
    color:white;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}
.contact_control_message svg{
    margin-top: 10px;
}

.contact_input , .contact_textarea{
    margin-left: 10px;
    padding: 8px 5px;
    background: var(--bleu-clair);
    border:none;
    width: 100%;
}

.contact_submit{
    border:2px solid var(--vert);
    background: var(--vert);
    color:white;
    padding : 8px 0;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

/*
pied
*/

.pied{
    background: var(--bleu-marine);
    padding: 40px 0;
    color:white;
}

.pied a{
    color:white;
}

.pied_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pied_social{
    display: flex;
}

.pied_social_item{
    margin-left: 20px;
}

.pied_social_item svg{
    width: 30px;
    height: 30px;
}
